<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/test.css" media="screen" />
    <title>test</title>
</head>
<body>
<p><strong>派生器</strong></p>
<ol>
<li><strong>派生器</strong></li>
<li>我是正常的字体。</li>
</ol>
<p>派生器<strong>派生器嵌套</strong>.</p>
<h2>派生器</h2>
<h2>派生器<strong>派生器嵌套</strong>.</h2>
<!-- ID 选择器 -->
<p1 id="idchose">id 选择器</p1>
<h2></h2>
<p1 id="idchose1">id 选择器 <storng>ID选择派生器</storng></p1>
<p class="cs1"> 类选择器 <storng>类选择派生器</storng> </p>
<!-- 属性选择器 -->
<a title="michael" href="http://www.michael.com">att</a>
<a title="michael1" href="http://www.michael.com">att</a>
<form name="input" action="" method="get">
<input type="text" name="Name" value="test" size="20">
<input type="text" name="Name" value="test" size="20">
<input type="button" value="Button">
    <p class="upper"> this is upper</p>
    <p class="lower">this is lower</p>
    <p class="capit">this is cap </p>
    <p class="link"><b><a href="/users" target="_blank">这是一个链接</a></b></p>

<ul class="inside">
<li>123</li>
<li>456</li>
<li>789</li>
    </ul>
    _____________________________________________
    <table id="tab">
<tr class="tr">
<th>Firstname</th>
<th>Lastname</th>
</tr>
<tr class="tr">
<td>Bill</td>
<td>Gates</td>
</tr>
<tr class="tr">
<td>Steven</td>
<td>Jobs</td>
</tr>
</body>
</html>