{% extends 'base.html' %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>代码备份</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'dashboard' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'salt_key_manager' %}">SaltStack</a>
                </li>
                <li class="{{ var7 }}">
                    <strong>代码备份</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>代码备份 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post">
                        <ul>{% csrf_token %}
                            {{ form.as_p }}
                            <input class="btn btn-info" type="submit" value="提交" />
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


