{% extends 'base.html' %}
{% block content %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>推送文件</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'dashboard' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'salt_key_manager' %}">SaltStack</a>
                </li>
                <li class="{{ var7 }}">
                    <strong>推送文件</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>推送文件 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post">
                        <ul>{% csrf_token %}
                            {{ form.as_p }}
                            <input class="btn btn-info" type="submit" value="提交" />
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>

{#    <script>#}
{#        window.onload = function() {#}
{#            var id_tgt = $('#id_tgt'), id_arg = $('#id_arg');#}
{#        //根据业务组获取游戏分区#}
{#        $('#id_').change(function(){#}
{#            var _me = $(this);#}
{#            if (_me.find(':selected').val() == 0 ){#}
{#                $('#id_game_zone').empty();//请空原有游戏分区数据#}
{#                $('<option>-----请选择-----</option>').appendTo($('#id_game_zone'));#}
{#            }else{#}
{#            $.ajax({#}
{#                url: '/Salt/get_zones/' + _me.find(':selected').val(),#}
{#                'dataType':'json',#}
{#                success: function(data){#}
{#                    $('#id_game_zone').empty();//请空原有游戏分区数据#}
{#                    $('<option>-----请选择-----</option>').appendTo($('#id_game_zone'));#}
{#                    for(var key in data['zone']){#}
{#                        $('<option value='+key+'>'+data['zone'][key]+'</option>').appendTo($('#id_game_zone'));#}
{#                    }   //往游戏分区里面填值#}
{#                },#}
{#                error: function(){#}
{#                    console.log('error')#}
{#                }#}
{#            })}#}
{#        });#}
{##}
{#        $('#id_game_zone').change(function(){#}
{#            var _me = $(this);#}
{#            if (_me.find(':selected').val() == 0 ){#}
{#                $('#id_game_zone').empty();//请空原有游戏分区数据#}
{#            }else{#}
{#            $.ajax({#}
{#                url: '/Salt/get_servers/' + _me.find(':selected').val(),#}
{#                'dataType':'json',#}
{#                success: function(data){#}
{#                    $('#id_tgt').empty();#}
{#                    for(var key in data){#}
{#                        $('<option value='+key+'>'+data[key]+'</option>').appendTo($('#id_tgt'));#}
{#                    }#}
{#                },#}
{#                error: function(){#}
{#                    console.log('error')#}
{#                }#}
{#            })}#}
{#        });#}
{##}
{#        $('#id_game_zone').change(function(){#}
{#            var _me = $(this);#}
{#            if (_me.find(':selected').val() == 0 ){#}
{#                $('#id_src_file').empty();//请空原有游戏分区数据#}
{#                $('<option>-----请选择-----</option>').appendTo($('#id_src_file'));#}
{#            }else{#}
{#            $.ajax({#}
{#                url: '/Salt/get_generate_file/' + _me.find(':selected').val(),#}
{#                'dataType':'json',#}
{#                success: function(data){#}
{#                    $('#id_src_file').empty();#}
{#                    $('<option>-----请选择-----</option>').appendTo($('#id_src_file'));#}
{#                    for(var key in data){#}
{#                        $('<option value='+key+'>'+data[key]+'</option>').appendTo($('#id_src_file'));#}
{#                    }#}
{#                },#}
{#                error: function(){#}
{#                    console.log('error')#}
{#                }#}
{#            })}#}
{#        });#}
{##}
{##}
{#     }#}
{#    </script>#}

{% endblock %}
