<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list_users</title>
</head>
<body>
 <form name="input" action="/add_user" method="POST">
        Username: <input type="text" name="username">Password: <input type="password" name="password">
        <input type="submit" value="添加用户">
    </form>>
     <form name="input" action="/select_user" method="GET">
        Username: <input type="text" name="username">
        <input type="submit" value="查询">
    </form>>
<table border="1">
    <tr>
        <th>username</th>
        <th>password</th>
        <th>status</th>
    </tr>
        {% for user in users %}
         <tr>
             <td>{{ user[0] }}</td>
             <td>{{ user[1] }}</td>
             <td> <input type="button"  value="删除用户"><input type="button"  value="修改用户"> </td>
          </tr>>
        {% endfor %}
    </table>>
</body>
</html>