{% extends 'base.html' %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>添加游戏分区</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'dashboard' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'game_zone_list' %}">游戏管理</a>
                </li>
                <li>
                    <a href="{% url 'game_zone_list' %}">游戏分区</a>
                </li>
                <li class="{{ var2 }}">
                    <strong>添加游戏分区</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加游戏分区 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
{#                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">#}
{#                            <i class="fa fa-wrench"></i>#}
{#                        </a>#}
{#                        <ul class="dropdown-menu dropdown-user">#}
{#                            <li><a href="#">Config option 1</a>#}
{#                            </li>#}
{#                            <li><a href="#">Config option 2</a>#}
{#                            </li>#}
{#                        </ul>#}
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal">{% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">业务组</label>

                                <div class="col-sm-10">
                                        <select class="form-control m-b" id="id_s" name="s">
                                            <option value="0">-------------请选择--------------</option>
                                            {% for item in s %}
                                                {% ifequal select.id item.id %}
                                                    <option value="{{ item.id }}" selected>{{ item.name }}</option>
                                                {% else %}
                                                    <option value="{{ item.id }}">{{ item.name }}</option>
                                                {% endifequal %}
                                            {% endfor %}
                                        </select>
                                </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">游戏分区</label>
                            <div class="col-sm-10">
                                    <input id="id_name" name="name" type="text" class="form-control" value="{{ zones.name }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-10">
                                    <input id="id_content" name="content" type="text" class="form-control" value="{{ zones.content }}">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" type="submit">取消</button>
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
