{% extends 'base.html' %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>分区详情</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'dashboard' %}">Home</a>
                </li>
                <li class="{{ var2 }}">
                    <strong><a href="{% url 'game_zone_list' %}">游戏分区</a></strong>
                </li>
                <li class="{{ var2 }}">
                    <strong>分区详情</strong>
                </li>
            </ol>
        </div>
    </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="wrapper wrapper-content animated fadeInUp">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="m-b-md">
                                        <h2>游戏分区详情页</h2>
                                    </div>
                                    <dl class="dl-horizontal">
                                        <dt>Status:</dt><dd><span class="label label-primary">可用</span></dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <dl class="dl-horizontal">

                                        <dt>分区:</dt> <dd>{{ zones.name }}</dd>
                                        <dt>备注:</dt> <dd>{{ zones.content }}</dd>
                                        <dt>公司:</dt> <dd><a href="#" class="text-navy"> Leshu Company</a> </dd>
{#                                        <dt>程序迭代版本:</dt> <dd> 	v1.4.2 </dd>#}
                                    </dl>
                                </div>
{#                                <div class="col-lg-7" id="cluster_info">#}
{#                                    <dl class="dl-horizontal" >#}

{#                                        <dt>最近编辑:</dt> <dd>16.08.2014 12:15:57</dd>#}
{#                                        <dt>创建时间:</dt> <dd> 	10.07.2014 23:36:57 </dd>#}
{#                                        <dt>Participants:</dt>#}
{#                                        <dd class="project-people">#}
{#                                        <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>#}
{#                                        <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>#}
{#                                        <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>#}
{#                                        <a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>#}
{#                                        <a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>#}
{#                                        </dd>#}
{#                                    </dl>#}
{#                                </div>#}

{#                                <div class="row">#}
{#                                    <div class="col-lg-12">#}
{#                                        <dl class="dl-horizontal">#}
{#                                            <dt>Completed:</dt>#}
{#                                            <dd>#}
{#                                                <div class="progress progress-striped active m-b-sm">#}
{#                                                    <div style="width: 100%;" class="progress-bar"></div>#}
{#                                                </div>#}
{#                                                <small>项目组设置完成度<strong>100%</strong></small>#}
{#                                            </dd>#}
{#                                        </dl>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="col-lg-3">
                <div class="wrapper wrapper-content project-manager">
                    <h4>描述</h4>
{#                    <img src="img/zender_logo.png" class="img-responsive">#}
                    <p class="small">
                        在这里设置项目组游戏分区!
                    </p>
                    <p class="small font-bold">
                        <span><i class="fa fa-circle text-warning"></i> High priority</span>
                    </p>
                    <h5>游戏分区名</h5>
                    <ul class="tag-list" style="padding: 0">
                        <li><a href=""><i class="fa fa-tag"></i> {{ zones.name }}</a></li>
                    </ul>
{#                    <h5>Project files</h5>#}
{#                    <ul class="list-unstyled project-files">#}
{#                        <li><a href=""><i class="fa fa-file"></i> Project_document.docx</a></li>#}
{#                        <li><a href=""><i class="fa fa-file-picture-o"></i> Logo_zender_company.jpg</a></li>#}
{#                        <li><a href=""><i class="fa fa-stack-exchange"></i> Email_from_Alex.mln</a></li>#}
{#                        <li><a href=""><i class="fa fa-file"></i> Contract_20_11_2014.docx</a></li>#}
{#                    </ul>#}
{#                    <div class="text-center m-t-md">#}
{#                        <a href="#" class="btn btn-xs btn-primary">Add files</a>#}
{#                        <a href="#" class="btn btn-xs btn-primary">Report contact</a>#}
{##}
{#                    </div>#}
                </div>
            </div>
    </div>

{% endblock %}


